<div>
    <h2 class="text-center fw-bold pt-2">Üdvözlünk a Trónok Harca Wiki oldalán!</h2>
    <hr>
    <div class="row d-flex justify-content-around pb-2">
        <img class="pb-3 col-lg-7" src="../assets/got_houses.png" />
        <hr class="d-lg-none">
        <p class="col-lg-5">
            Oldalunkon megtalálhatsz minden információt A tűz és jég dala könyvek, illetve
            a méltán híres Trónok harca című sorozat karaktereiről, eseményeiről, házairól.
            Az oldal tetején látható menüből választva navigálhatsz a téged érdeklő oldalakra.
        </p>
        <h3 class="text-center"><u>Jó böngészést!</u></h3>
    </div>
</div>



