<div class="d-flex flex-column align-items-center"> 
    <div class="d-flex justify-content-center col-12">                
        <button class="paging-button btn col-lg-3 col-1" (click)="prevPage();" [disabled]="!isPrevPage() || !loaded">&#10096;</button>
        <button class="paging-button btn col-lg-2 col-5" (click)="loadPage();" [disabled]="loaded">Listázás</button>
        <button class="paging-button btn col-lg-3 col-1" (click)="nextPage();" [disabled]="!isNextPage() || !loaded">&#10097;</button>
    </div>
    <table class="got-table table">
        <tr *ngFor="let character of characterPage;">
            <td class="p-2">
                <a href="characters/{{getCharacterId(character.url)}}">
                    {{ character.name === "" ? character.aliases[0] : character.name }}
                </a>
            </td>
        </tr>
    </table>
</div>
